<p>Honga</p>
<!-- <div>
    <label for="branchId">Branch ID: </label>
    <input id="branchId" [(ngModel)]="address.branchId" placeholder="branchId">

    <label for="country">Country: </label>
    <input id="country" [(ngModel)]="address.country" placeholder="country">

    <label for="governate">Governate: </label>
    <input id="governate" [(ngModel)]="address.governate" placeholder="governate">

    <label for="regionCity">Region City: </label>
    <input id="regionCity" [(ngModel)]="address.regionCity" placeholder="regionCity">

    <label for="street">Street: </label>
    <input id="street" [(ngModel)]="address.street" placeholder="street">

    <label for="buildingNumber"> Building Number: </label>
    <input id="buildingNumber" [(ngModel)]="address.buildingNumber" placeholder="buildingNumber">

    <label for="postalCode">Postal Code: </label>
    <input id="postalCode" [(ngModel)]="address.postalCode" placeholder="postalCode">
    
    <label for="floor">Floor: </label>
    <input id="floor" [(ngModel)]="address.floor" placeholder="floor">

    <label for="room">Room: </label>
    <input id="room" [(ngModel)]="address.room" placeholder="room">

    <label for="landmark">Landmark: </label>
    <input id="landmark" [(ngModel)]="address.landmark" placeholder="landmark">

    <label for="additionalInformation">Additional Information: </label>
    <input id="additionalInformation" [(ngModel)]="address.additionalInformation" placeholder="additionalInformation">

    <button (click)="postAddress(address)")>Submit</button>

</div> -->